<div class="container">
  <div class="row">
    <div class="col-12">
       <app-test>

       </app-test>
      <app-products></app-products>
     
      <table class="table table-borderd mt-4">
       <thead class="th">
        <tr class="table-danger">
          <td>Sr.No</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Contact</td>
          <td>Age</td>

        </tr>
       </thead>
       <tbody class ='tb'>
        <tr *ngFor = 'let perobj of persons;let i =index'>
          <td>{{i + 1}}</td>
          <td>{{perobj.fname}}</td>
          <td>{{perobj.lname}}</td>
          <td>{{perobj.email}}</td>
          <td>{{perobj.age}}</td>
          <td>{{perobj.contact}}</td>

        </tr>
       </tbody>
      </table>
    </div>
  </div>
</div>



<div class="col-3 m-auto">
  <ul class="list-group text-center  m-5">
     <li class="list-group-item" *ngFor="let skills01 of data">
          Welcome in the Programming world of {{skills01}}
           <!-- Here {{skill}} is called string interpolation  -->
           <!-- agar apke ts file me data hai ya property hai aur apko wo property HTML file me bind karna hai to hum karli braces{{}} use karte hai jisko hum string interpolotion khte  hain   -->
     </li>
 </ul>
 </div>
 


<div class ='container'>
  <div class="row">
    <div class="col-12">
        <table class="table table-borderd mt-4">
    <thead class="th">
     <tr class="table-info">
       <td>Sr.No</td>
       <td>First Name</td>
       <td>Last Name</td>
       <td>Email</td>
       <td>Contact</td>
       <td>Age</td>

     </tr>
    </thead>
    <tbody class ='tb'>
     <tr *ngFor = 'let perobj of persons01;let i =index'>
       <td>{{i + 1}}</td>
       <td>{{perobj.fname}}</td>
       <td>{{perobj.lname}}</td>
       <td>{{perobj.email}}</td>
       <td>{{perobj.age}}</td>
       <td>{{perobj.contact}}</td>

     </tr>
    </tbody>
   </table>

    </div>
  </div>
 </div>


 


